[submodule "src/lib/decompiler/cfr"]
	path = src/lib/decompiler/cfr
	url = https://github.com/cephxdev/cfr.git
[submodule "src/lib/decompiler/vf"]
	path = src/lib/decompiler/vf
	url = https://github.com/cephxdev/vf.git
