@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;

        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;

        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;

        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;

        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;

        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;

        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;

        --destructive: 0 72.2% 50.6%;
        --destructive-foreground: 0 0% 98%;

        --ring: 240 10% 3.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;

        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;

        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;

        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;

        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;

        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;

        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;

        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --ring: 240 4.9% 83.9%;
    }
}

/* xyflow graphs */
@layer base {
    :root {
        --xy-background-color: hsl(var(--background));
        --xy-node-background-color: hsl(var(--muted));
        --xy-node-border: 1px solid hsl(var(--border));
        --xy-node-border-radius: calc(var(--radius) / 2);
        --xy-edge-stroke: hsl(var(--border));
        --xy-edge-label-background-color: hsl(var(--background));
        --xy-controls-button-background-color: hsl(var(--muted));
        --xy-controls-button-background-color-hover: hsl(var(--muted) / 0.6);
    }
}

@layer base {
    * {
        @apply border-border;
    }
    html,
    body {
        @apply h-full overflow-hidden bg-background text-foreground;
    }
    #app {
        @apply flex min-h-full flex-col overflow-hidden;
    }
}

@layer utilities {
    .break-anywhere {
        overflow-wrap: anywhere;
        word-break: normal;
    }

    .scrollbar-none::-webkit-scrollbar {
        display: none;
    }
}

/* xyflow graphs */
.svelte-flow__handle {
    background-color: transparent;
    border: none;
}
.svelte-flow__node-block {
    padding: 10px;
    border-radius: var(--xy-node-border-radius, var(--xy-node-border-radius-default));
    font-size: 12px;
    color: var(--xy-node-color, var(--xy-node-color-default));
    border: var(--xy-node-border, var(--xy-node-border-default));
    background-color: var(--xy-node-background-color, var(--xy-node-background-color-default));

    &.selectable {
        &:hover {
            box-shadow: var(--xy-node-boxshadow-hover, var(--xy-node-boxshadow-hover-default));
        }

        &.selected,
        &:focus,
        &:focus-visible {
            box-shadow: var(--xy-node-boxshadow-selected, var(--xy-node-boxshadow-selected-default));
        }
    }
}
.svelte-flow__controls > :first-child {
    border-top-left-radius: calc(var(--radius) / 2);
    border-top-right-radius: calc(var(--radius) / 2);
}
.svelte-flow__controls > :last-child {
    border-bottom-left-radius: calc(var(--radius) / 2);
    border-bottom-right-radius: calc(var(--radius) / 2);
}

/* PWA title bar */
@media (display-mode: window-controls-overlay) {
    .window-controls {
        position: sticky;
        z-index: 9999;
        background-color: hsl(var(--background));

        left: env(titlebar-area-x, 0);
        top: env(titlebar-area-y, 0);
        width: env(titlebar-area-width, 100%);
        height: env(titlebar-area-height, 2.5rem);

        -webkit-app-region: drag;
        app-region: drag;
    }

    .window-controls > * {
        /* fix item height on smaller title bars */
        padding-top: 0;
        padding-bottom: 0;
        height: 100%;

        -webkit-app-region: no-drag;
        app-region: no-drag;
    }
}
